.excalidraw {
  .Island {
    --padding: 0;
    background-color: var(--island-bg-color);
    box-shadow: var(--shadow-island);
    border-radius: var(--border-radius-lg);
    padding: calc(var(--padding) * var(--space-factor));
    position: relative;

    &.zen-mode {
      box-shadow: none;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-scrollbar-thumb);
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-scrollbar-thumb-hover);
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: var(--color-scrollbar-thumb-active);
    }
  }

  .App-menu_top {
    .Stack_vertical {
      .Island {
        min-width: 216px;
      }
      .Stack_horizontal {
        justify-content: center !important;
      }
    }
  }

  &.excalidraw--view-mode {
    .App-menu_top {
      .Stack_vertical {
        .Island {
          min-width: auto;
        }
      }
    }
  }
}
