@import "../css/variables.module";
.ExcalidrawTooltip {
  position: absolute;
  display: none;

  background: $oc-black;
  color: $oc-white;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  z-index: 1000;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 500;
  word-wrap: break-word;

  pointer-events: none;
  box-sizing: border-box;

  &.is-shown {
    display: block;
  }
}
